.menu a {
    text-decoration:none;
    color:#fff;
  }
  
  .menu {
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    text-align:center;
    background-color:#e29b08;
    color:#fff;
    padding:15px;
    border:1px solid #fff;
    width:216px;
    display:inline-block;
    cursor:pointer;
  }
  
  .menu:hover {
    background-color: #fff;
    color:#e29b08;
    border:1px solid #e29b08;
    padding:15px;
  }
  .menu a:hover {
    color:#e29b08;
    background:#fff;
  }

  