section .block {
    display:inline-block;
    margin:20px;
    background-color: #f1f1f1;
    width:467px;
    height:auto;
    box-shadow: 1px 2px 3px grey;
    cursor:pointer;
    transition: box-shadow 0.5s ease;
    padding: 10px;
    min-height: 465px;
    text-align: center;
  }

  @media (max-width:1024px) {
    section .block {
      width:auto;
    }
  }

.block h1, .block p  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.block img {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section .block:hover {
  box-shadow: 3px 1px 4px 1px #3E606F;
}

.social-icon, .facebook_logo {
  width:70px;
  height:50px;
  display: flex;
}

.watsapp_logo {
  margin-left: 15px;
}

.watsapp_logo_d {
  display : block;
}

.watsapp_logo_m {
  display: none;
}

@media (max-width:767px) {
  .watsapp_logo_d {
    display:none;
  }
  .watsapp_logo_m {
    display: block;
  }
}